.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
  display: flex;
  justify-content: center;
  align-items: center;
  .login_wrapper {
    background-color: #fff;
    width: computeRem(358);
    height: computeRem(588);
    border-radius: computeRem(15);
    padding: 0 computeRem(50);

    .title {
      font-size: computeRem(38);
      font-weight: bold;
      text-align: center;
      line-height: computeRem(200);
    }
    .btn {
      text-align: center;
      padding: computeRem(10) 0;
      width: 100%;
      margin-top: computeRem(40);
      background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
      color: #fff;
      cursor: pointer;
    }
    .msg {
      text-align: center;
      line-height: computeRem(88);
      cursor: pointer;
    }
  }
}
:global {
  #message_username {
    height: computeRem(40);
  }
  #message_password {
    height: computeRem(30);
  }
}
